{% extends "store/base_generic.html"%}
{% block content %}
{% load static %}

{% block styles%}
<link rel="stylesheet" href="{% static 'css/grid.css' %}" />
{% endblock %}


<br>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
<div class="container text-center">
    <h3>Delete bill: {{bills.name}}. <br> id: {{bills.id}}</h3>
   
    <div class="row">
      <div class="col-12 col-md-8">name: {{bills.name}}</div>
   
  


      


      <div class="col-6 col-md-4">Due Date: {{bills.due_date}}</div>
      <div class="col-6 col-md-4">Amount Due: {{bills.amount}}</div>

      <div class="col-6 col-md-4">Bill description: {{bills.description}}</div>
   
  

    <hr>
    <form action="" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        
        {{form.as_table}}
       
        <div class="col-6 col-md-4"> <input class="btn-danger" type="submit" value="Yes, delete."></div>
        
    </form>



  </div> <!-- /container -->

</div>





{% endblock %}