{% extends "store/base_generic.html"%}

{% block content %}
<h1>Create a new bill</h1>
<br>
<div class="container-fluid text-center">
    <div class="table-responsive-xl">
<form action="" class="form-group" method="post" enctype="multipart/form-data">
    {% csrf_token %}
  
    <table class="table text-light table-striped table-lg">
        {{form.as_table}}
    </table>
   
    <input type="submit" class="btn btn-primary" value="Submit">
</div>
    
</form>



</div>

<footer>
  

</footer>

<script>
    date = document.querySelector('#id_due_date')
date.setAttribute("type", "date");
</script>

{% endblock %}