{% extends "store/base_generic.html"%}
{% load static%}
{% block styles %}
<link rel='stylesheet' href="{% static 'css/signin.css' %}">
{% endblock %}
{% block content %}
<br>
<br>
{% if form.errors %}
<div class="container">
  <p class="text-danger">Your username and password didn't match. Please try again.</p>

</div>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
  <p class="text-danger">Your account doesn't have access to this page. To proceed,
  please login with an account that has access.</p>
{% else %}
  <p>Please login to see this page.</p>
{% endif %}
{% endif %}
<body class="text-center">
  <br>
  <div class="container">
    <img class="login-img" class="mb-4" src="{% static 'images/hand.jpg' %}" alt="" width="400" height="auto">

  </div>
  <form class="form-signin" method="post" action="{% url 'login' %}">
    {% csrf_token %}

    
 {{form.as_table}}
 <input class="btn btn-lg btn-primary btn-block" type="submit" value="login">
 <input type="hidden" name="next" value="{{ next }}">
  </form>
 
  <script>
    const username = document.getElementById('id_email');
    const pass1 = document.getElementById('id_password1');
    const pass2 = document.getElementById('id_password2');

    username.classList.add("form-control");
    pass1.classList.add("form-control");
    pass2.classList.add("form-control");

  </script>
</body>
















{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}