<html>
{% load static %}
<head>
    <meta name="robots" content="max-image-preview:standard">
    <!--<meta property="Illini Alpacas Appaloosa Database" content="Build a Blog for free on Tranquil Fjord" />
    <meta description="A place where you can build and get started writing for free, quick and easy">-->
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      {% block title%}<title class="text-wrap">portfolio</title>{% endblock %}
      <meta charset="UTF-8">
      <meta name="description" content="My django python portfolio of apps">
   
      <meta name="keywords" content="Collection of apps I built using django">
      {% block styles%}
      <!--enter additional css as needed-->
      <link rel="stylesheet" href="{% static 'css/main.css'%}">
      {% endblock%}
      <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </head>
    <!doctype html>
    <html lang="en">
     
  
      <body class=" container-fluid fs-1 bg-dark text-light text-center">
    
        <header>
          <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="{% url 'store:home'%}">Portfolio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'store:home'%}">Home</a><span class="sr-only">(current)</span></a>

               
                </li>
            
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'budget:home'%}">Budget</a><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'bills:home'%}">Bill Tracker</a><span class="sr-only">(current)</span></a>
                </li>
               
                {% if user.is_authenticated %}


                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                  <li class='nav-item'>
                    <a class="nav-link" href="{% url 'store:change_password'%}">Change password</a>
                  </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                  <li class='nav-item'>
                    <a class="nav-link" href="{% url 'store:signup'%}">Signup</a>
                  </li>

            
               
                {% endif %}
              




          
              </ul>
              <form class="form-inline mt-2 mt-md-0" action="{% url 'budget:search' %}" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search budgets" aria-label="Search" name="q">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
        </header>
        <main role="main" class="fs-1-text-center">
<aside class="text-center">
          
         


         
        </aside>
<main class="fs-1">
  <br>
  {% if user.is_authenticated%}
  <h1>
  welcome {{user}}
</h1>
{% else %}
<h1>hello, you are not logged in</h2>

  {%endif%}
     {% block content%}
        
         
    
         



<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
       <div class="container">
        <img class="featurette-image img-fluid mx-auto" src="{% static 'images/nate-duece.jpg' %}">
       </div>
            <div class="carousel-caption d-none d-md-block">
              
                <h1 class="text-primary">My Django Python Portfolio</h1>
                <p>Welcome to my portfolio</p>
            </div>
            
        </div>
        <div class="carousel-item">
            <br>
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Budget App</h1>
                <p>A web app that allows users to track their budget with some basic analytics</p>
                <p><a class="btn btn-lg btn-primary" href="{% url 'bills:bills_list'%}" role="button">View Bills List</a></p>
              </div>
              <div class="container">
                <img class="featurette-image img-fluid mx-auto" src={% static 'images/background.JPG'%}>
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Bill Tracker.</h1>
                <p>A web app that allows users to track all of their bills in one place. Track overall totals and total for each bill.</p>
                <p><a class="btn btn-lg btn-primary" href="{% url 'budget:budget_list'%}" role="button">View Budger List</a></p>
              </div>
              <div class="container">
                <img class="featurette-image img-fluid mx-auto" src={% static 'images/admin.png'%}>
              </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
        
    
    
          <!-- Marketing messaging and featurettes
          ================================================== -->
          <!-- Wrap the rest of the page in another container to center all the content. -->
    
          <div class="container marketing">
    
            <!-- Three columns of text below the carousel -->
            <div class="row">
              <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h2>My Django Python Portfolio</h2>
                <p>A budget app, A bill tracker app, and a creative writing app. Where you create, read, update, and delete objects using Pythons web framework Django. </p>
                <p><a class="btn btn-secondary" href="{% url 'store:business_create'%}" role="button">Leave me a message  &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h2>Bill tracker</h2>
                <p>Website that allows user to create, update, delete, and analyze all of their bills in one place</p>
                <p><a class="btn btn-secondary" href="{% url 'bills:bills_create'%}"role="button">Create a bill to track &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h2>A budget app</h2>
                <p>Alows user to create, read, update, and delete budgetss.</p>
                <p><a class="btn btn-secondary" href="{% url 'budget:budget_create'%}" role="button">Create a budget &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
    
    
            <!-- START THE FEATURETTES -->
    
            <hr class="featurette-divider">
    
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">A budget app. <span class="text-muted">Manage income and expenses</span></h2>
                <p class="lead">I could have protected the view with a login, but I choose not too.
                  I could also allow users to upload receipts uses an S3 bucket or Cloudinary.
                  
                </p>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="{% static 'images/railroad.jpg'%}">

              </div>
            </div>
    
            <hr class="featurette-divider">
    
            <div class="row featurette">
              <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Basic Bill Tracker <span class="text-muted">Manage all of your bills in one place</span></h2>
                <p class="lead">Keep track of all your bills in a table format where you can inspect each bill.</p>
              </div>
              <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="{% static 'images/petunia.jpg'%}">
              </div>
            </div>
    
            <hr class="featurette-divider">
    
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">Contact information <span class="text-muted">Leave me a message</span></h2>
                <p class="lead">You can leave me a message by clicking on the link below.</p>
                <p><a class="btn btn-secondary" href="{% url 'store:business_create'%}" role="button">Leave me a message  &raquo;</a></p>

                <!--enter business create form link here,-->
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="{% static 'images/confetti-orig.jpg'%}">
              </div>
            </div>
    
            <hr class="featurette-divider">
    
            <!-- /END THE FEATURETTES -->
    
          </div><!-- /.container -->
    
    
          <!-- FOOTER -->
        
 


<!---old styles-->

   

 
    <!--enter block content-->
    {%endblock%}
    </main>
    <footer class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>&copy; 2022-2023 Gallbegalled, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
 </main>
 {% block bootstrap_load%}
 <script src="{% static 'js/carousel.js'%}"></script>
 <script src="{% static 'js/holder.min.js'%}"></script>
 <script src="{% static 'js/popper.min.js'%}"></script>
 {%endblock%}

</body>
</html>
