{% extends "store/base_generic.html"%}
{% block content%}
{% load static %}

{% block styles%}
<link rel="stylesheet" href="{% static 'css/grid.css' %}" />
{% endblock %}



{% if product%}

<div class="container text-center">
  <h3>Detail View</h3>
  <p>This view allows you to view all your products for sale.</p>
  
 
  <div class="row">
    <div class="col-12 col-md-8">{{product.name}}</div>
    <div class="col-6 col-md-4"><a href="{% url 'store:product_update' product.id %}">Update product info</a></div>
    <div class="col-6 col-md-4"><a href="{% url 'store:product_delete' product.id %}">Delete this product?</a></div>
  </div>
  <div class="row">
    <div class="col-6 col-md-4">price:${{product.price}}</div>
    <div class="col-6 col-md-4"> inventory:{{product.inv}}</div>
  
  </div>
  <hr>
</div> <!-- /container -->





{%else%}
<h2><a href="{% url 'store:product_create'%}">Create a product</a></h2>
<p>No products listed</p>

{%endif%}
<footer>
  <h2><a href="{% url 'store:product_create'%}">Create a product</a></h2>

</footer>
{% endblock%}
