{% block content %}
<section>
    <article>
        <h2>Delete store? {{store.headline}}</h2>
        <form action="" method="post" enctype="multipart/form-data">
            <table> 
                <tbody>
                    <tr>
                        Orders:<td>{{store.Items.all|join:"</td><td>"}}</td>
                    </tr>
                    <tr>
                        <td>{{product.inv}}</td>
                    </tr>

     
                </tbody>
            </table>
           
    
            {% csrf_token %}
        
            {{form.as_table}}
           
            <input type="submit" value="Yes, delete.">
            
        </form>
    </article>
</section>

{% endblock %}