{% extends "store/base_generic.html"%}
{% block content%}

{% if expenses%}
<div class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 bd-highlight"><button class="btn"><a  href="{% url 'jobs:jobs_create'%}">Create a Job</a></button></div>
  <div class="p-2 bd-highlight"><button class="btn"><a  href="{% url 'jobs:jobs_list'%}">Jobs list</a></button></div>
  <div class="p-2 bd-highlight"><button class="btn"><a  href="{% url 'jobs:expenses_create'%}">create an expense</a></button></div>


  <div class="p-2 bd-highlight"><button class="btn"><a  href="{% url 'jobs:expenses_list'%}">expenses list</a></button></div>

  <div class="p-2 bd-highlight"><button class="btn"><a  href="{% url 'jobs:income_create'%}">create income</a></button></div>

</div>
<div class="d-flex flex-row-reverse bd-highlight">
  <div class="p-2 bd-highlight">Flex item 1</div>
  <div class="p-2 bd-highlight">Flex item 2</div>
  <div class="p-2 bd-highlight">Flex item 3</div>
</div>

<table class="table table-sortable">
    <thead>
      <tr>
        <th>id</th>
        <th>type</th>
        <th>amount</th>
        <th>date</th>
        <th>update</th>
        <th>delete</th>



      
      </tr>
    </thead>
    <tbody>
        {% for x in expenses%}
      <tr>
        <td>{{x.id}}</td>
        <td>   <a href="{{x.get_absolute_url}}">{{x.get_expenses_display}}</a>
        </td>
   
        <td>{{x.amount}}</td>
        <td>{{x.date}}</td>
        <td>             <a href="{% url 'jobs:expenses_update' x.id %}">Update</a>
          
        </td>
        <td>             <a href="{% url 'jobs:expenses_delete' x.id %}">Delete</a>
          
        </td>

  
      </tr>
      {% endfor %}
  
    </tbody>
    <tfoot>
    


    </tfoot>
  </table>




{%else%}
<div class="container">
  <div class="col-6 col-md-4"><button class="btn"><a  href="{% url 'jobs:expenses_create'%}">Create an Expense</a></button></div>


</div>




{%endif%}

{% endblock%}


