{% extends "store/base_generic.html" %}
{% block title%}<title class="text-wrap">Jobs</title>{% endblock %}

{% block content%}


<aside class='bg-dark'>
    <ul class='text-light'>
        <li><a href="{% url 'jobs:jobs_list'%}">Link to jobs list</a></li>
        <li>num_jobs:{{num_jobs}}</li>

    </ul>
</aside>
<article class='bg-dark container-fluid'>
<section>
    <p class="text-light">This website allows you to enter and track different types of expenses</p>
    <ul class="text-light">
        <li>Advertising</li>
        <li>Fees</li>
        <li>wages</li>
        <li>mileage</li>
        <li>other expenses</li>
    </ul>
    <p class='text-light'>
        this is a job expenses tracker. You can upload and manage your expenses for each job you work as you go
       

    </p>
    <p> This is just a part of my portfolio and not a real project.</p>
</section>
</article>


{% endblock %}