{% extends "store/base_generic.html"%}
{% load static %}
{% block content%}
{% block styles%}
<link rel="stylesheet" href="{% static 'css/grid.css' %}" />
{% endblock %}

{% if jobs%}
<div class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 bd-highlight"><button class="btn"><a  href="{% url 'jobs:jobs_create'%}">Create a Job</a></button></div>
  <div class="p-2 bd-highlight"><button class="btn"><a  href="{% url 'jobs:expenses_list'%}">expenses list</a></button></div>
  <div class="p-2 bd-highlight"><button class="btn"><a  href="{% url 'jobs:expenses_create'%}">create an expense</a></button></div>
  <div class="p-2 bd-highlight"><button class="btn"><a  href="{% url 'jobs:income_create'%}">create income</a></button></div>

</div>
<div class="d-flex flex-row-reverse bd-highlight">
  <div class="p-2 bd-highlight">Flex item 1</div>
  <div class="p-2 bd-highlight">Flex item 2</div>
  <div class="p-2 bd-highlight">Flex item 3</div>
</div>



  






<table class="table table-sortable">
    <thead class="text-center">
      <tr>
        
        <th><button class="btn">Details</button></th>
        <th> <button class="btn">Update</button></th>
        <th><button class="btn">Delete</button></th>
       
        <th><button class="btn">Income</button></th>
        <th><button class="btn">Expenses</button></th>
        <th><button class="btn">Wages</button></th>
        <th><button class="btn">Profit</button></th>
      </tr>
    </thead>
    <tbody class="container text-center">
{% for job in jobs%}

     
    
        
   
        <td>
                <div class="col-12 col-md-8"><a href="{{job.get_absolute_url}}">{{job.client}}</a></div>
           </td>
           <td>
             <div class="col-6 col-md-4"><a href="{% url 'jobs:jobs_update' job.id %}">Update job info</a></div>
           </td>
           <td>
                <div class="col-6 col-md-4"><a href="{% url 'jobs:jobs_delete' job.id %}">Delete this job?</a></div>

           </td>
       
        <td class="bg-success">    income: {{job.income.all|join:"<br>"}}

        </td>
        <td class="bg-danger">        expenses: {{job.get_total}}
        </td>
        <td class="bg-primary">
             wages: {{job.get_wages}}

        </td>
        <td class="bg-info">
                    {% if not job.expenses %}profit: cant without expenses {% else %}{{job.get_profit}}  {%endif%}

        </td>
      </tr>
      {% endfor %}
  
    </tbody>
    <tfoot>

    


    </tfoot>
  </table>
  <script src="{% static 'js/table_sort.js'%}"></script>



{%else%}
<div class="container">
  <div class="col-6 col-md-4"><button class="btn"><a  href="{% url 'jobs:jobs_create'%}">Create a Job</a></button></div>
</div>


{%endif%}

         
{% endblock%}