{% extends "store/base_generic.html"%}

{% block content %}
<section>
    <article>
        <h2>Delete Job? {{jobs.client}}</h2>
        <form action="" method="post" enctype="multipart/form-data">
            <table> 
                <tbody>
                    <tr>
                        <td>{{jobs.date}}</td>
                    </tr>
                    <tr>
                        <td>{{}}</td>
                    </tr>

     
                </tbody>
            </table>
           
    
            {% csrf_token %}
        
            {{form.as_table}}
           
            <input type="submit" value="Yes, delete.">
            
        </form>
    </article>
</section>

{% endblock %}
