{% extends "store/base_generic.html"%}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{%  static 'css/dashboard.css'%}">

{% endblock %}

{% block content %}


<h2><a href="{% url 'jobs:jobs_create'%}">Create a new job?</a></h2>
{% if jobs %}
<br>


<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
  <span>Saved reports</span>
  <a class="d-flex align-items-center text-muted" href="#">
    <span data-feather="plus-circle"></span>
  </a>
</h6>
<ul class="nav flex-column mb-2">
  <li class="nav-item">
    <a class="nav-link" href="#">
      <span data-feather="file-text"></span>
      Current month
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <span data-feather="file-text"></span>
      Last quarter
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <span data-feather="file-text"></span>
      Social engagement
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <span data-feather="file-text"></span>
      Year-end sale
    </a>
  </li>
</ul>
</div>
</nav>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
<h1 class="h2">Dashboard</h1>
<div class="btn-toolbar mb-2 mb-md-0">
  <div class="btn-group mr-2">
    <button class="btn btn-sm btn-outline-secondary">Share</button>
    <button class="btn btn-sm btn-outline-secondary">Export</button>
  </div>
  <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
    <span data-feather="calendar"></span>
    This week
  </button>
</div>
</div>

<canvas class="my-4" id="myChart" width="900" height="380"></canvas>

<h2><a href="{% url 'jobs:jobs_create'%}">Create a new job?</a></h2>
{% for job in jobs %}
<div class="table-responsive">
  <table class="table text-light table-striped table-sm">
    <thead class="text-light">
      <tr>
        <th>#id</th>
        <th>client</th>
        <th>date</th>
        

        <th>expenses</th>
        <th>total</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-light">
        <td><a href="{{job.get_absolute_url}}">Details</a></td>
        <td>{{job.client}}</td>
        <td>{{job.date}}</td>
        
        <td>{{job.expenses.all|join:"<br>"}}</td>
        <td>{{job.get_total}}</td>
      
          <td><a href="{% url 'jobs:jobs_update' job.id%}">Update Job?</a><td>
            <td><a href="{% url 'jobs:jobs_delete' job.id%}">Delete Job?</a><td>


      </tr>
      
    </tbody>
  </table>
  </div>
</main>
</div>
</div>

{% endfor %}


<p>overall total: {{jobs.get_total}}
{% endif %}
<footer>
  <h2>
    <a href="{% url 'jobs:jobs_create'%}">Create Job?</a>
  </h2>
</footer>
<!-- Bootstrap core JavaScript
================================================== -->









<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../../../assets/js/vendor/popper.min.js"></script>
<script src="../../../../dist/js/bootstrap.min.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
feather.replace()
</script>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
type: 'line',
data: {
labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
datasets: [{
data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
lineTension: 0,
backgroundColor: 'transparent',
borderColor: '#007bff',
borderWidth: 4,
pointBackgroundColor: '#007bff'
}]
},
options: {
scales: {
yAxes: [{
  ticks: {
    beginAtZero: false
  }
}]
},
legend: {
display: false,
}
}
});
</script>



{% endblock %}